.hero {
    padding-top: 73px;

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media(930) {
            justify-content: space-around;
        }

        @include media(700) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__img {
        width: 42.4%;

        @include media(700) {
            margin: 0 auto;
            width: 50%;
        }

        @include media(400) {
            width: 80%;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 56px;
        line-height: 70px;

        @include media(930) {
            font-size: 40px;
            line-height: 50px;
        }

        @include media(700) {
            font-size: 28px;
            line-height: 44px;
        }
    }

    &__txt {
        max-width: 457px;
    }

    &__list {
        list-style-image: url("../img/list__dots.svg");
        padding-left: 18px;

        @include media(700) {
            padding-left: 12px;
        }
    }

    &__item {
        font-weight: 500;
        line-height: 40px;
    }

    &__gradient {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 49.3%;
        height: 877px;
        background-image: url("../img/gradient.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include media(930) {
            width: 100%;
        }
    }

    &__consultation {
        margin: 45px auto 0;
        max-width: 1146px;
    }
}

.consultation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 98px;
    background-color: $mainColor;

    &__title {
        max-width: 380px;
        font-weight: 800;
        font-size: 16px;
        line-height: 30px;
        text-transform: uppercase;
        color: #fff;
    }

    &__phone {
        padding: 20px;
        width: 264px;
        height: 60px;
    }

    &__btn {
        @include media(930) {
            margin-top: 10px;
        }
    }

    @include media(1100) {
        padding: 10px 30px;
    }

    @include media(930) {
        flex-direction: column;
        text-align: center;
    }
}
